{% extends 'base.html'%}
{% block title %}password change
{% endblock title %}
<h1>password change<h1>
<p> please enter you old password and the  your new password twice</p>
{% block content %}
<form method="post">
{% csrf_token %} 
{{ form.as_p }}
<button class="btn btn-success ml-2" type="submit"> change my password </button>

</form>

{% endblock content %}