{% extends 'base.html' %}
{% block title %}
password reset success
{% endblock title %}
{% block content %}
<h1>password reset done</h1>
<p>you can now log in <a href='{% url 'login' %}'>log in page </a></p>
{% endblock content %}