{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}sing up
{% endblock title %}
{% block content %}
<h2>sing up</h2>
<form method="Post">
 {% csrf_token %} 
 {{ form|crispy}} 
 <button class="btn btn-success ml-2" type="submit"> sign up </button>
 </form>
{% endblock content %}


